@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "xwwk";
  src: url(./assets/LXGWWenKaiLite-Regular.ttf) format("truetype");
}

:root {
  font-family: "SF Pro", Inter, Avenir, Helvetica, Arial, sans-serif, xwwk;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
